* {
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    /* Garante que o contêiner ocupe 100% da tela */
    max-width: 100vw;
    /* Limita a largura ao tamanho da viewport */
}

header {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    overflow: hidden;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    overflow: hidden;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.banner {
    background-image: url(img/banner-topo.jpg);
    width: 100%;
    padding: 120px 80px;
    height: 700px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.p1 {
    font-size: 35px;
    margin-bottom: 0px 0px 5px 0px;
    text-align: center;
    display: inline;
    font-weight: 500;
}

.p2 {
    width: 260px;
    font-size: 14px;
    text-align: center;
}

img {
    width: 30px;
    margin-right: 5px;
}

.container2 {
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin-top: 70px;
    margin: 0 auto;
    background-color: #ffffffc4;
    text-align: center;
    height: 290px;
    margin-top: 80px;
}

.p3 {
    font-weight: 800;
    font-size: 60px;
    color: #3c184e;
    margin-bottom: 30px;
}

a {
    color: white;
    background-color: #3c184e;
    border-radius: 10px;
    padding: 10px 25px;
}

.service1 {
    margin: 50px auto;
    font-size: 15px;
}

.p {
    margin-bottom: 15px;
    line-height: 25px;
}

span {
    font-weight: bold;
}

.h2service {
    margin: 90px 0px 60px 0px;
    text-align: center;
}

.imgservice {
    height: 190px;
    width: 115px;
    max-width: 1024;
    margin-left: -7px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px #0000005c;
    margin: 0 auto;
}

.imagens {
    max-width: 1024px;
}

.p4 {
    padding: 110px 0 30px 0px;
    font-size: 25px;
    color: white;
}

.conteudo2 {
    background-color: #3c184e;
    height: 300px;
    text-align: center;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1290px;
}

.marcas {
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}

.marca1 img {
    height: 90px;
    width: 150px;
}

.marca1 h2 {
    margin-bottom: 50px;
}

.rodape {
    margin: 0 auto;
    text-align: center;
}

.rodape h2 {
    color: #3c184e;
    font-weight: bold;
    margin: 80px 0px 40px 0px;
}

.rodape p {
    margin-bottom: 40px;
}

iframe {
    display: flex;
    margin-bottom: 90px;
    width: 1200px;
    margin-left: 30px;
}

.developer {
    background-color: #3c184e;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    min-width: 500px;
}

@media(max-width: 399px) {

    html,
    body {
        overflow-x: hidden;
        width: 100%;
        /* Garante que o contêiner ocupe 100% da tela */
        max-width: 100vw;
        /* Limita a largura ao tamanho da viewport */
    }

    .container2 .p3 {
        font-size: 20px;
    }

    .service1 {
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    .h2service {
        font-size: 25px;
        width: 100%;
        margin: 10px auto;
    }

    .imagens {
        display: flex;
        margin: 0 auto;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 10px;
        flex: 1;

    }

    .maps {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        border-radius: 10px;
        height: 300px;
        width: 100%;
    }

    .maps h2 {
        margin-bottom: 10px;
    }

    iframe {
        width: 380px;
        margin: 0 auto;
    }

    footer {
        display: flex;
        width: 100%;
        margin: 0 auto;
    }

    .rodape {
        text-align: center;
        width: 390px;
        margin: 30px 0 0 40px;
    }

}

@media(max-width: 340px) {

    html,
    body {
        overflow-x: hidden;
        width: 100%;
        max-width: 100vw;
        /* Limita a largura ao tamanho da viewport */
    }

    .banner {
        width: 100%;
        max-width: 100vw;
        text-align: center;
    }
    .lg{
        width: 300px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-right: 90px;
    }
    .lg .p2{
        padding-right: 55px;
    }

    .container2 a {
        font-size: 10px;
    }

    .service1 {
        padding: 20px;
    }

    ul {
        margin-bottom: 15px;
    }

    .conteudo2 .p4 {
        font-size: 13px;
    }

    footer {
        width: 100%;
        justify-content: center;
        text-align: center;
        display: flex;
    }

    .rodape {
        margin: 10px auto;
        width: 300px;
        padding: 10px;
    }

}